@model IEnumerable<Web.Models.Aplicacion.MarcaDTO>
@using Web.Validacion.General

@{
    GestionClaims gestionClaims = new GestionClaims(User);
    string nombreVista = "marca";
}

<link href="~/Plantilla/assets/plugins/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Plantilla/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Gestión @nombreVista</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
            <li class="breadcrumb-item active">@nombreVista</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-info">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <h4 class="card-title text-white m-b-40">Lista @nombreVista</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-success" onclick="AbrirModal()"> Crear @nombreVista</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Vigente</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.marcaId</td>
                                    <td>@item.nombre</td>
                                    <td>@item.vigente</td>
                                    <td class="text-center"><button class="btn btn-success" onclick="ModalActualizar(@item.marcaId, '@item.nombre', '@item.vigente')">Actualizar</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de creación -->
<div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Crear @nombreVista</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Label("", "Nombre", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.Editor("nombre", new { htmlAttributes = new { @class = "form-control", type = "text", @Required = true, @id = "nombre", @placeholder = "Digite el nombre" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center" style="justify-content:center">
                <button type="button" class="btn btn-success waves-effect" onclick="GuardarMarca()">
                    <span class="fas fa-save"></span> Guardar
                </button>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div id="notificacion" style="margin:20px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de actualización -->
<div class="modal fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Actualizar @nombreVista</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="marcaIdAct" name="marcaIdAct" value="" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Nombre", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.Editor("nombreAct", new { htmlAttributes = new { @class = "form-control", type = "text", @Required = true, @id = "nombreAct", @placeholder = "Digite el nombre" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Vigente", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.DropDownList("VIGENTE", null, String.Format("Seleccione una opción"), htmlAttributes: new { @class = "form-control select2", style = "width: 100%;", @id = "vigenteAct" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center" style="justify-content:center">
                <button type="button" class="btn btn-success waves-effect" onclick="Actualizar()">
                    <span class="fas fa-save"></span> Actualizar
                </button>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div id="notificacion" style="margin:20px"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Plantilla/assets/plugins/jquery/jquery.min.js"></script>
<script src="~/Plantilla/assets/plugins/sweetalert/sweetalert.min.js"></script>

<script>
    function AbrirModal() {
        $("#myModal1").modal("show");
    }

    function ModalActualizar(_id, _nombre, _vigente) {
        $("#marcaIdAct").val(_id);
        $("#nombreAct").val(_nombre);
        $("#vigenteAct").val(_vigente);
        $("#myModal2").modal("show");
    }

    function GuardarMarca() {
        var marcaDTO =
        {
            nombre: $("#nombre").val()
        };

        $.ajax({
            url: '@Url.Action("CrearMarca", "Dominio")',
            data: marcaDTO,
            type: 'POST',
            dataType: 'json',
            success: function(data) {
                if (data.ok) {
                    Swal.fire({
                        title: 'Exito',
                        text: data.mensaje,
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        location.reload();
                    });
                }
                else {
                    Swal.fire({
                        title: 'Atención',
                        text: data.mensaje,
                        icon: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Aceptar'
                    });
                }
            },
            error: function(xhr, status) {
                Swal.fire({
                    title: 'Error',
                    text: data.mensaje,
                    icon: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }

    function Actualizar() {
        var marcaDTO =
        {
            marcaId: $("#marcaIdAct").val(),
            nombre: $("#nombreAct").val(),
            vigente: $("#vigenteAct").val()
        };

        $.ajax({
            url: '@Url.Action("ActualizarMarca", "Dominio")',
            data: marcaDTO,
            type: 'POST',
            dataType: 'json',
            success: function(data) {
                if (data.ok) {
                    Swal.fire({
                        title: 'Exito',
                        text: data.mensaje,
                        icon: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        location.reload();
                    });
                }
                else {
                    Swal.fire({
                        title: 'Atención',
                        text: data.mensaje,
                        icon: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Aceptar'
                    });
                }
            },
            error: function(xhr, status) {
                Swal.fire({
                    title: 'Error',
                    text: data.mensaje,
                    icon: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    }
</script>
