@using WebApp.Validacion.General

@{
    GestionClaims gestionClaims = new GestionClaims(User);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Plantilla/assets/images/favicon.png">
    <title>Material Pro Admin Template - The Most Complete & Trusted Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Plantilla/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <!-- chartist CSS -->
    @*<link href="../assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">*@
    <link href="~/Plantilla/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet" />
    <link href="~/Plantilla/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet" />
    @*<link href="../assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">*@
    @*<link href="../assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">*@
    <link href="~/Plantilla/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet" />
    <!--This page css - Morris CSS -->
    @*<link href="../assets/plugins/c3-master/c3.min.css" rel="stylesheet">*@
    <link href="~/Plantilla/assets/plugins/c3-master/c3.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @*<link href="css/style.css" rel="stylesheet">*@
    <link href="~/Plantilla/material/css/style.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    @*<link href="css/colors/blue.css" id="theme" rel="stylesheet">*@
    <link href="~/Plantilla/material/css/colors/blue.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Plantilla/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="~/Plantilla/assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="~/Plantilla/assets/images/ArchiLab1.png" width="120px" height="50px" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="~/Plantilla/assets/images/ArchiLab1.png" width="120px" height="50px" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                               href="javascript:void(0)"><i class="mdi mdi-menu"></i></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                               href="javascript:void(0)"><i class="ti-menu"></i></a>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">

                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @gestionClaims.Nombres @gestionClaims.Apellidos
                                <img src="~/Plantilla/assets/images/users/1.jpg" alt="user"
                                     class="profile-pic" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img src="~/Plantilla/assets/images/users/1.jpg" alt="user"></div>
                                            <div class="u-text">
                                                <h4>@gestionClaims.Nombres @gestionClaims.Apellidos</h4>
                                                <p class="text-muted">varun@gmail.com</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">
                                                    View
                                                    Profile
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="@Url.Action("CerrarSesion","Cuenta")"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- User profile -->
                <div class="user-profile" style="background: url(../Plantilla/assets/images/ArchiLab2.png) no-repeat;" width="240px" height="166px">
                    <!-- User profile image -->
                    <div class="profile-img"> <img src="~/Plantilla/assets/images/users/profile.png" alt="user" /> </div>
                    <!-- User profile text-->
                    <div class="profile-text">
                        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="true">@gestionClaims.Nombres @gestionClaims.Apellidos</a>
                        <div class="dropdown-menu animated flipInY">
                            <a href="#" class="dropdown-item">
                                <i class="ti-user"></i>
                                My Profile
                            </a> <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                            <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <i class="ti-settings"></i>
                                Account Setting
                            </a>
                            <div class="dropdown-divider"></div> <a href="@Url.Action("CerrarSesion","Cuenta")" class="dropdown-item">
                                <i class="fa fa-power-off"></i>
                                Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End User profile text-->
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">Menu</li>

                        @if (User.IsInRole("Administrador"))
                        {
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                    <i class="fas fa-cog"></i><span class="hide-menu">Administración </span>
                                </a>
                                <ul aria-expanded="false" class="collapse">
                                    @*<li><a href="@Url.Action("Empleados","Dominio")">Empleados</a></li>*@
                                    <li><a href="@Url.Action("Dependencias","Dominio")">Dependencia</a></li>
                                    <li><a href="@Url.Action("Clases","Dominio")">Clase</a></li>
                                    <li><a href="@Url.Action("Marcas","Dominio")">Marca</a></li>
                                    <li><a href="@Url.Action("Modelos","Dominio")">Modelo</a></li>
                                </ul>
                            </li>
                        }

                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-gauge"></i><span class="hide-menu">Gestión Activos </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                @if (User.IsInRole("Administrador") || User.IsInRole("Almacenista"))
                                {
                                    <li><a href="@Url.Action("GestionActivos","Activo")">Crear</a></li>
                                    <li><a href="@Url.Action("BandejaActivos","Activo")">Bandeja Activos</a></li>
                                }

                                @if (User.IsInRole("Administrador") || User.IsInRole("Almacenista") || User.IsInRole("Diagnosticador") || User.IsInRole("Evaluaciones") || User.IsInRole("Reparaciones"))
                                {
                                    <li><a href="@Url.Action("Bandeja","WorkFlow")">Bandeja Tickets</a></li>
                                }
                            </ul>
                        </li>


                        @if (User.IsInRole("Administrador"))
                        {
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                    <i class="fas fa-chart-bar"></i><span class="hide-menu">Reportes </span>
                                </a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="@Url.Action("Index","Reporte")">KPI</a></li>
                                </ul>
                            </li>
                        }

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <!-- item--><a href="@Url.Action("CerrarSesion","Cuenta")" class="link" data-toggle="tooltip" title="Cerra Sesión"><i class="mdi mdi-power"></i></a>
            </div>
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                @RenderBody()
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                © 2022 Proyecto ArchitectureLab - Pontificia Universidad Javeriana - Entorno @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @*<script src="../assets/plugins/jquery/jquery.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/Plantilla/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    @*<script src="../assets/plugins/popper/popper.min.js"></script>*@
    <script src="~/Plantilla/assets/plugins/popper/popper.min.js"></script>
    @*<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>*@
    @*<link href="~/Plantilla/assets/plugins/bootstrap/js/bootstrap.min.js" rel="stylesheet" />*@
    <script src="~/Plantilla/assets/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    @*<script src="js/jquery.slimscroll.js"></script>*@
    <script src="~/Plantilla/material/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    @*<script src="js/waves.js"></script>*@
    <script src="~/Plantilla/material/js/waves.js"></script>
    <!--Menu sidebar -->
    @*<script src="js/sidebarmenu.js"></script>*@
    <script src="~/Plantilla/material/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    @*<script src="../assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>*@
    <script src="~/Plantilla/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    @*<script src="../assets/plugins/sparkline/jquery.sparkline.min.js"></script>*@
    <script src="~/Plantilla/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    @*<script src="js/custom.min.js"></script>*@
    <script src="~/Plantilla/material/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    @*<script src="../assets/plugins/chartist-js/dist/chartist.min.js"></script>*@
    <script src="~/Plantilla/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    @*<script src="../assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>*@
    <script src="~/Plantilla/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    @*<script src="../assets/plugins/d3/d3.min.js"></script>*@
    <script src="~/Plantilla/assets/plugins/d3/d3.min.js"></script>
    @*<script src="../assets/plugins/c3-master/c3.min.js"></script>*@
    <script src="~/Plantilla/assets/plugins/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    @*<script src="js/dashboard1.js"></script>*@
    <script src="~/Plantilla/material/js/dashboard1.js"></script>
    <!-- ============================================================== -->
    @*<script src="../assets/plugins/datatables/datatables.min.js"></script>*@
    <script src="~/Plantilla/assets/plugins/datatables/datatables.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <script>
        $(function() {
            $('#myTable').DataTable();
            $(function() {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function(settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function(group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function() {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
    <!-- Style switcher -->
    <!-- ============================================================== -->
    @*<script src="../assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>*@
    <script src="~/Plantilla/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>


</body>

</html>