@model IEnumerable<WebApp.Models.Aplicacion.WorkFlowDTO>
@using WebApp.Validacion.General
@using WebApp.Models.Aplicacion

@{
    GestionClaims gestionClaims = new GestionClaims(User);
}

<link href="~/Plantilla/assets/plugins/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
<link href="~/Plantilla/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Gestión Tickets</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Ticket</a></li>
            <li class="breadcrumb-item active">Bandeja Tickets</li>
        </ol>
    </div>
</div>

<h1>Bienvenid@@ @gestionClaims.Nombres -@gestionClaims.Apellidos</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success">
                <h4 class="card-title">Datos Bandeja Tickets</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>Estado</th>
                                <th>TicketId</th>
                                <th>Activo</th>
                                <th>Diagnostico</th>
                                <th>Fecha diagnostico</th>
                                <th>Evaluación</th>
                                <th>Fecha evaluación</th>
                                <th>Reparación</th>
                                <th>Fecha reparación</th>
                                <th>Fecha cierre</th>
                                <th>Usuario creación</th>
                                <th>Fecha creación</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Opciones
                                            </button>
                                            <div class="dropdown-menu">
                                                @if (User.IsInRole("Administrador") || User.IsInRole("Diagnosticador"))
                                                {
                                                    <a class="dropdown-item" href="#" onclick="AbrirModal3()">Concepto diagnostico</a>
                                                }

                                                @if (User.IsInRole("Administrador") || User.IsInRole("Evaluaciones"))
                                                {
                                                    <a class="dropdown-item" href="#" onclick="AbrirModal4()">Concepto evaluación</a>
                                                }

                                                @if (User.IsInRole("Administrador") || User.IsInRole("Reparaciones"))
                                                {
                                                    <a class="dropdown-item" href="#" onclick="AbrirModal5()">Concepto reparación</a>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @if (item.estado == "Diagnostico")
                                        {
                                            <span class="badge badge-danger">@item.estado</span>
                                        }
                                        else if (item.estado == "Reparación")
                                        {
                                            <span class="badge badge-warning">@item.estado</span>
                                        }
                                        else if (item.estado == "Evaluación")
                                        {
                                            <span class="badge badge-primary">@item.estado</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success">@item.estado</span>
                                        }
                                    </td>
                                    <td>@item.ticketId</td>
                                    <td><button type="button" class="btn btn-sm btn-success" onclick="AbrirModalVerActivo(@item.activoId)">Ver</button></td>
                                    <td>
                                        @if (@item.diagnosticoId != null)
                                        {
                                            <button type="button" class="btn btn-sm btn-success" onclick="AbrirModal3ver(@item.diagnosticoId)">Ver</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-sm btn-warning">Pendiente</button>
                                        }
                                    </td>
                                    <td>@item.fechaDiagnostico</td>
                                    <td>
                                        @if (@item.evaluacionId != null)
                                        {
                                            <button type="button" class="btn btn-sm btn-success" onclick="AbrirModal4ver(@item.evaluacionId)">Ver</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-sm btn-warning">Pendiente</button>
                                        }
                                    </td>
                                    <td>@item.fechaEvaluacion</td>
                                    <td>
                                        @if (@item.reparacionId != null)
                                        {
                                            <button type="button" class="btn btn-sm btn-success" onclick="AbrirModal5ver(@item.reparacionId)">Ver</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-sm btn-warning">Pendiente</button>
                                        }
                                    </td>
                                    <td>@item.fechaReparacion</td>
                                    <td>@item.fechaCierre</td>
                                    <td>@item.usuarioCreacion</td>
                                    <td>@item.fechaCreacion</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de creación Diagnosticador-->
<div class="modal fade" id="myModal3" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Diagnosticar</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Apto", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.DropDownList("DESICION", null, String.Format("Seleccione una clase"), htmlAttributes: new { @class = "form-control select2", style = "width: 100%;", @id = "apto" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Reparación", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.DropDownList("DESICION", null, String.Format("Seleccione una clase"), htmlAttributes: new { @class = "form-control select2", style = "width: 100%;", @id = "reparacion" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Descripción", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.TextArea("DESCRIPCION", new { @class = "form-control", @Required = true, cols = 10, rows = 4, @placeholder = "Descripción (Max 100 caracteres)", @maxlength = "100", id = "descripcion" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Fecha", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.Editor("FECHA", new { htmlAttributes = new { @class = "form-control date", type = "date", @Required = true, @id = "fechaCreacion" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center" style="justify-content:center">
                <button type="button" class="btn btn-success waves-effect" onclick="GuardarDiagnostico()">
                    <span class="fas fa-save"></span> Guardar
                </button>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div id="notificacion" style="margin:20px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de creación Evaluaciones-->
<div class="modal fade" id="myModal4" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Evaluar elemento</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Desición Reparación", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.DropDownList("DESICION", null, String.Format("Seleccione una clase"), htmlAttributes: new { @class = "form-control select2", style = "width: 100%;", @id = "reparacion" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Fecha", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.Editor("FECHA", new { htmlAttributes = new { @class = "form-control date", type = "date", @Required = true, @id = "fecha" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Descripción", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.TextArea("DESCRIPCION", new { @class = "form-control", @Required = true, cols = 10, rows = 4, @placeholder = "Descripción (Max 100 caracteres)", @maxlength = "100", id = "descripcion" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center" style="justify-content:center">
                <button type="button" class="btn btn-success waves-effect" onclick="GuardarEvaluacion()">
                    <span class="fas fa-save"></span> Guardar
                </button>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div id="notificacion" style="margin:20px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de creación Reparaciones-->
<div class="modal fade" id="myModal5" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Reportar reparación</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Descripción", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.TextArea("DESCRIPCION", new { @class = "form-control", @Required = true, cols = 10, rows = 4, @placeholder = "Descripción (Max 100 caracteres)", @maxlength = "100", id = "descripcion" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Fecha", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    @Html.Editor("FECHA", new { htmlAttributes = new { @class = "form-control date", type = "date", @Required = true, @id = "fecha" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center" style="justify-content:center">
                <button type="button" class="btn btn-success waves-effect" onclick="GuardarReparacion()">
                    <span class="fas fa-save"></span> Guardar
                </button>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <div id="notificacion" style="margin:20px"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal de ver Diagnosticador-->
<div class="modal fade" id="myModal3ver" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Ver Diagnostico</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Apto", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="aptoDiagnosticador" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Reparación", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="reparacionDiagnosticador" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Descripción", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <textarea class="form-control" type="text" cols="10" rows="4" id="descripcionDiagnosticador" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Fecha", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="fechaCreacionDiagnosticador" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de ver Evaluaciones-->
<div class="modal fade" id="myModal4ver" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Ver Evaluación</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Desición Reparación", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="reparacionEvaluaciones" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Fecha", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="fechaEvaluaciones" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Descripción", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <textarea class="form-control" type="text" cols="10" rows="4" id="descripcionEvaluaciones" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de ver Reparaciones-->
<div class="modal fade" id="myModal5ver" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Ver Reparación</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Descripción", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <textarea class="form-control" type="text" cols="10" rows="4" id="descripcionReparaciones" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("", "Fecha", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="fechaReparaciones" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de ver Activo-->
<div class="modal fade" id="myModalVerActivo" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-success">
                <h2 class="modal-title text-white" id="myLargeModalLabel">Ver activo</h2>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Clase:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="claseIdStr"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Marca:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="marcaIdStr"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Serial:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="serial"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Fecha Ingreso:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="fechaIngreso"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Fecha final garantía:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="fechaFinalGarantia"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Valor Adquisición:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="valor"></p>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Estado:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="estado"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Dependencia:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="dependenciaIdStr"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Modelo:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="modeloIdStr"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label text-right col-md-3">Observación:</label>
                            <div class="col-md-9">
                                <p class="form-control-static" id="observacion"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AbrirModal3() {
        $("#myModal3").modal("show");
    }

    function AbrirModal4() {
        $("#myModal4").modal("show");
    }

    function AbrirModal5() {
        $("#myModal5").modal("show");
    }

    function AbrirModal3ver(_id) {

        $.ajax({
            url: '@Url.Action("ConsultarDiagnosticoPorId", "Diagnostico")',
            data: { _id: _id },
            type: 'POST',
            async: false,
            dataType: 'json',
            success: function(data) {
                if (data != null) {
                    $("#aptoDiagnosticador").val(data.apto == true ? "SI" : "NO");
                    $("#reparacionDiagnosticador").val(data.reparacion == true ? "SI" : "NO");
                    $("#descripcionDiagnosticador").val(data.descripcion);
                    $("#fechaCreacionDiagnosticador").val(data.fechaCreacionStr);
                }
                $("#myModal3ver").modal("show");
            },
            error: function(xhr, status) {
                $("#myModal3ver").modal("show");
            }
        });
    }

    function AbrirModal4ver(_id) {

        $.ajax({
            url: '@Url.Action("ConsultarEvaluacionPorId", "Evaluacion")',
            data: { _id: _id },
            type: 'POST',
            async: false,
            dataType: 'json',
            success: function(data) {
                if (data != null) {
                    $("#reparacionEvaluaciones").val(data.apto == true ? "SI" : "NO");
                    $("#descripcionEvaluaciones").val(data.descripcion);
                    $("#fechaEvaluaciones").val(data.fechaCreacionStr);
                }
                $("#myModal4ver").modal("show");
            },
            error: function(xhr, status) {
                $("#myModal4ver").modal("show");
            }
        });
    }

    function AbrirModal5ver(_id) {
        $.ajax({
            url: '@Url.Action("ConsultarReparacionPorId", "Reparacion")',
            data: { _id: _id },
            type: 'POST',
            async: false,
            dataType: 'json',
            success: function(data) {
                if (data != null) {
                    $("#descripcionReparaciones").val(data.description);
                    $("#fechaReparaciones").val(data.fechaCreacionStr);
                }
                $("#myModal5ver").modal("show");
            },
            error: function(xhr, status) {
                $("#myModal5ver").modal("show");
            }
        });
    }

    function AbrirModalVerActivo(_id) {
        $.ajax({
            url: '@Url.Action("ConsultarActivoPorId", "Activo")',
            data: { _id: _id },
            type: 'POST',
            async: false,
            dataType: 'json',
            success: function(data) {
                if (data != null) {
                    $("#claseIdStr").html(data.clase);
                    $("#marcaIdStr").html(data.marca);
                    $("#serial").html(data.serial);
                    $("#fechaIngreso").html(data.fechaIngresoStr);
                    $("#fechaFinalGarantia").html(data.fechaFinalGarantiaStr);
                    $("#valor").html(data.valor);
                    $("#estado").html(data.estado);
                    $("#dependenciaIdStr").html(data.dependencia);
                    $("#modeloIdStr").html(data.modelo);
                    $("#observacion").html(data.observacion);
                }
                $("#myModalVerActivo").modal("show");
            },
            error: function(xhr, status) {
                $("#myModalVerActivo").modal("show");
            }
        });
    }


                                    //function ModalActualizar() {
                                    //    $("#fechaIngreso").val();
                                    //    $("#fechaFinalGarantia").val();
                                    //    $("#myModal2").modal("show");
                                    //}

                                    //function Actualizar() {
                                    //    var activoDTO =
                                    //    {
                                    //        itemId: $("#itemId").val(),
                                    //        claseId: $("#claseId").val(),
                                    //        marcaId: $("#marcaId").val(),
                                    //        modeloId: $("#modeloId").val(),
                                    //        serial: $("#serial").val(),
                                    //        fechaIngreso: $("#fechaIngreso").val(),
                                    //        fechaFinalGarantia: $("#fechaFinalGarantia").val(),
                                    //        valor: $("#valor").val(),
                                    //        fechaBaja: $("#fechaBaja").val(),
                                    //        estado: $("#estado").val(),
                                    //        observacion: $("#observacion").val(),
                                    //        dependenciaId: $("#dependenciaId").val()
                                    //    };

                                    //    $.ajax({
                                    //        url: '@Url.Action("ActualizarActivo", "Activo")',
                                    //        data: activoDTO,
                                    //        type: 'POST',
                                    //        dataType: 'json',
                                    //        success: function(data) {
                                    //            if (data.ok) {
                                    //                Swal.fire({
                                    //                    title: 'Exito',
                                    //                    text: data.mensaje,
                                    //                    icon: 'success',
                                    //                    showCancelButton: false,
                                    //                    confirmButtonColor: '#3085d6',
                                    //                    cancelButtonColor: '#d33',
                                    //                    confirmButtonText: 'Aceptar'
                                    //                }).then((result) => {
                                    //                    location.reload();
                                    //                });
                                    //            }
                                    //            else {
                                    //                Swal.fire({
                                    //                    title: 'Atención',
                                    //                    text: data.mensaje,
                                    //                    icon: 'warning',
                                    //                    showCancelButton: false,
                                    //                    confirmButtonColor: '#3085d6',
                                    //                    cancelButtonColor: '#d33',
                                    //                    confirmButtonText: 'Aceptar'
                                    //                });
                                    //            }
                                    //        },
                                    //        error: function(xhr, status) {
                                    //            Swal.fire({
                                    //                title: 'Error',
                                    //                text: data.mensaje,
                                    //                icon: 'error',
                                    //                showCancelButton: false,
                                    //                confirmButtonColor: '#3085d6',
                                    //                cancelButtonColor: '#d33',
                                    //                confirmButtonText: 'Aceptar'
                                    //            });
                                    //        }
                                    //    });
                                    //}
</script>